.container {
	padding: 0 2em;
}

.header {
	padding-bottom: 2em;
	border-bottom: 1px solid var(--colorPrincipal);
	display: flex;
}

.nameHeader {
	width: 100%;
	text-align: center;
	align-items: center;
	margin: auto;
}

.info {
	padding-left: 2em;
}
.contacs {
	padding-left: 2em;
}

.contactos {
	border: 1px solid var(--colorPrincipal);
	border-radius: 10px;
	padding: 1.5em;
	margin: 2.5em;
}

.descripcion {
	border: 1px solid var(--colorPrincipal);
	border-radius: 10px;
	margin: 2.5em;
	padding: 1.5em;
}

.image {
	width: 200px;
	height: 200px;
}
