.container {
	padding: 0 2em;
	color: black;
}

.rowCard {
	display: flex;
	flex-wrap: wrap;
}

.card {
	padding: 0.5em;
	margin: 2em;
	border: 1.5px solid var(--colorPrincipal);
	height: min-content;
	width: min-content;
	text-align: center;
	border-radius: 10px;
}

.card .image {
	border-radius: 10px;
}

.card .link {
	text-decoration: none;
}

.image {
	width: 200px;
	height: 200px;
}
