.container {
	margin-top: 2em;
	padding: 2em;
	border: 3px solid var(--colorPrincipal);
	border-radius: 10px;
	background-color: rgb(199, 238, 253);
}

.descripcion {
	padding: 0.5em 1em;
}

.descripcion h2 {
	font-size: 1.2em;
}

.descripcion h3 {
	background-color: white;
	padding: 1em;
	border-radius: 10px;
	border: 2px solid var(--colorPrincipal);
}

.responsable {
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.fotoResponsable {
	width: max-content;
}

.responsable img {
	width: 100px;
	height: 100px;
	border-radius: 20px;
}

.encargoAnexos {
	display: flex;
	margin-left: 2em;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.opciones {
	border-radius: 10px;
	background-color: white;
	color: black;
	border: 2px solid var(--colorPrincipal);
	cursor: pointer;
}

.opcionesClick {
	border-radius: 10px;
	background-color: var(--colorPrincipal);
	color: white;
	border: 2px solid var(--colorPrincipal);
	cursor: pointer;
}

.dropboxButton {
	position: absolute;
	right: 3em;
	margin-top: 0.5em;
	display: flex;
	flex-flow: column;
	background-color: white;
	border: 1px solid var(--colorPrincipal);
	border-radius: 10px;
	padding: 1em;
}

.btnAsignarse {
	border-radius: 10px;
	background-color: white;
	color: black;
	border: 2px solid var(--colorPrincipal);
	margin-top: 2em;
	cursor: pointer;
	padding: 0.5em;
	transition: 0.5s;
}

.btnAsignarse:hover {
	background-color: var(--colorPrincipal);
	color: white;
	border: 2px solid var(--colorPrincipal);
}

.notas {
	margin: 0 8em;
}

.btnHideNota {
	padding: 0.75em 1em;
	margin-top: 2em;
	border: 2px solid var(--colorPrincipal);
	background-color: transparent;
	border-radius: 10px;
	transition: 0.5s;
	cursor: pointer;
	width: max-content;
}

.btnHideNota:hover {
	border: 2px solid var(--colorPrincipal);
	background-color: var(--colorPrincipal);
	color: white;
}

.containerEncargo {
	display: flex;
	flex-flow: column;
}

.dropboxButton button {
	border-radius: 10px;
	background-color: white;
	color: black;
	border: 2px solid var(--colorPrincipal);
	margin: 0.25em 0;
	cursor: pointer;
	padding: 0.5em;
	transition: 0.5s;
}

.dropboxButton button:hover {
	background-color: var(--colorPrincipal);
	color: white;
	border: 2px solid var(--colorPrincipal);
}
