.container {
	padding: 0.5em 1em;
	border: 2px solid var(--colorPrincipal);
	color: var(--colorPrincipal);
}
.container h2 {
	color: black;
	padding: 0.5em 1em;
	background-color: beige;
}
.container h3 {
	padding: 0.5em 1em;
	color: black;
}
