.container {
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 0.5px solid var(--colorDetalles);
}

.container ul {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.3rem;
	font-family: var(--letraSecundaria);
}
.container ul li {
	list-style: none;
	margin-left: 20px;
}
.container ul li a {
	text-decoration: none;
	padding: 6px 15px;
	color: #ffff;
	border-radius: 20px;
}
.container ul a:hover {
	background: #ffff;
	color: var(--colorSecundario);
}
.ingresar {
	margin: 0 2rem 0 auto;
}

.logo {
	display: flex;
	color: var(--colorDetalles);
	margin-left: 1rem;
}

.logo :hover {
	padding: 0;
	margin: 0;
	transform: scale(1.25);
	transition: 0.5s;
}
.link{
	color:var(--colorDetalles);
	text-shadow: 2px 2px 4px black;
}
