.container {
	background-color: rgb(255, 122, 34);
	height: 100px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 50px;
	padding: 0.4rem 1.5rem 0.12rem 1.5rem;
	margin-bottom: 2rem;
}

.link {
	text-decoration: none;
	color: white;
	font-size: 2rem;
}

.image {
	border-radius: 50%;
}

.ingresar {
	margin: 0 2rem 0 auto;
}
