.container {
	margin-top: 2em;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: var(--colorPrincipal);
	height: 85px;
	position: fixed;
	bottom: 0;
	width: 100%;
	color: var(--colorDetalles);
	font-family: var(--letraSecundaria);
}
.ubicacion{
	cursor:pointer;
	text-decoration: none;
	color:var(--colorDetalles);
	font-family: var(--letraSecundaria);	
}
.footerElements{
	color:var(--colorDetalles);
	text-shadow: 2px 2px 4px black;
}
