.section {
	background: #3586ff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	padding-top: 0em;
}

.menu {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0.5em 0;
}

.section .menu li {
	list-style: none;
}

.section .menu li a {
	font-size: 1.2em;
	color: #fff;
	margin: 0 10px;
	transition: 0.5s;
	text-decoration: none;
	opacity: 0.75;
}

.section .menu li a:hover {
	opacity: 1;
}

.section p {
	color: #fff;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 10px;
	font-size: 1.1em;
}

.link {
	color: var(--colorDetalles);
	text-shadow: 2px 2px 4px var(--colorPrincipal);
}
