.container{
    height: 200px; /* Altura del div */
    display: flex; /* Utilizamos flexbox para centrar verticalmente y horizontalmente */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    position: fixed;
}